<div class="g-bd5 f-cb p-share">
    <div class="g-mn4">
        <div class="g-wrap6">
            <div class="m-info f-cb">
                <div class="cover u-cover u-cover-alb">
                    <img src="../../../public/images/album/粥请客.jpg" alt="">
                    <span class="msk"></span>
                </div>
                <div class="cnt">
                    <div class="cntc">
                        <div class="topblk">
                            <div class="hd f-cb">
                                <i class="f-fl u-icn u-icn-16"></i>
                                <div class="tit">
                                    <h2 class="f-ff2">胆小鬼</h2>
                                </div>
                            </div>

                            <p class="intr">
                                <b>歌手：</b>
                                <span title="颜人中">
                                    <a class="s-fc7" href="void:0">颜人中</a>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="n-songtb" >
                <div class="u-title u-title-1 f-cb">
                    <h3>
                        <span class="f-ff2">包含歌曲列表</span>
                    </h3>
                </div>

                <div>
                    <div>
                        <div class="j-flag">
                            <table class="m-table">
                                <thead>
                                    <tr>
                                        <th class="first w1">
                                            <div class="wp">&nbsp;</div>
                                        </th>
                                        <th>
                                            <div class="wp">歌曲标题</div>
                                        </th>
                                        <th class="w2-1">
                                            <div class="wp">时长</div>
                                        </th>
                                        <th class="w4">
                                            <div class="wp">歌手</div>
                                        </th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <!-- <tr>
                                        <td class="left">
                                            <div class="hd">
                                                <span class="ply ">&nbsp;</span>
                                                <span class="num">1</span>
                                            </div>
                                        </td>
                                        <td class="">
                                            <div class="f-cb">
                                                <div class="tt">
                                                    <div class="ttc">
                                                        <span class="txt">
                                                            <a href="void:0">
                                                                <b title="胆小鬼">胆<div class="soil">騱鐺</div>小鬼</b>
                                                            </a>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="s-fc3">
                                            <span class="u-dur ">03:16</span>
                                            <div class="opt hshow">
                                                <a class="u-icn u-icn-81 icn-add" href="javascript:;" title="添加到播放列表"></a>
                                                <span class="icn icn-fav" title="收藏"></span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="text" title="颜人中">
                                                <span title="颜人中">
                                                    <a class="" href="void:0" hidefocus="true">颜人中</a>
                                                </span>
                                            </div>
                                        </td>
                                    </tr> -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>