<!-- 分类页面 -->
<div class="classify" style="display:none;">
    <div class="g-wrap3">
        <div class="n-rcmd">
            <div class="v-hd2">
                <a href="void:0" class="tit f-ff2 f-tdn">热门推荐</a>
                <div class="tab recommend">
                    <a href="void:0" class="s-fc3">华语</a>
                    <span class="line">|</span>
                    <a href="void:0" class="s-fc3">流行</a>
                    <span class="line">|</span>
                    <a href="void:0" class="s-fc3">摇滚</a>
                    <span class="line">|</span>
                    <a href="void:0" class="s-fc3">民谣</a>
                    <span class="line">|</span>
                    <a href="void:0" class="s-fc3">电子</a>
                </div>
            </div>


            <div class="ztag j-flag">
                <div class="n-srchrst">
                    <div class="srchsongst">
                        <!-- {{ each datas}}
                        <div class="item f-cb h-flag">
                            <div class="td">
                                <div class="hd">
                                    <a id="song_30431367" class="ply " title="播放"></a>
                                </div>
                            </div>

                            <div class="td w0">
                                <div class="sn">
                                    <div class="text">
                                        <a href="void:0"><b title="{{$value.MusicName}}">{{$value.MusicName}}</b></a>
                                    </div>
                                </div>
                            </div>

                            <div class="td">
                                <div class="opt hshow">
                                    <a class="u-icn u-icn-81 icn-add" href="javascript:;" title="添加到播放列表" hidefocus="true"></a>
                                    <span class="icn icn-fav" title="收藏"></span>
                                    <span class="icn icn-share" title="分享"></span>
                                    <a href="{{$value.MusicUrl}}" download="{{$value.MusicUrl}}">
                                        <span class="icn icn-dl" title="下载"></span>
                                    </a>
                                </div>
                            </div>

                            <div class="td w1">
                                <div class="text">
                                    <a href="void:0">
                                        <span class="s-fc7">{{$value.singerName}}</span>
                                    </a>
                                </div>
                            </div>

                            <div class="td w2">
                                <div class="text">
                                    <a class="s-fc3" href="void:0" title="{{$value.CDName}}">{{$value.CDName}}</a>
                                </div>
                            </div>

                            <div class="td">{{$value.songTime}}</div>
                        </div>
                        {{/each}} -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>