
<div class="rankList">
    <div class="leftCon">
        <div class="n-minelst n-minelst-2">
            <h2 class="f-ff1">云音乐特色榜</h2>
            <ul class="f-cb">
                <li class="mine">
                    <div class="item f-cb">
                        <div class="left">
                            <img src="http://p2.music.126.net/N2HO5xfYEqyQ8q6oxCw8IQ==/18713687906568048.jpg?param=40y40"
                                alt="云音乐新歌榜">
                        </div>
                        <p class="name">
                            <a href="void:0" class="s-fc0">云音乐新歌榜</a>
                        </p>
                        <p class="s-fc4"></p>
                    </div>
                </li>

                <li class="mine">
                    <div class="item f-cb">
                        <div class="left">
                            <img src="http://p2.music.126.net/GhhuF6Ep5Tq9IEvLsyCN7w==/18708190348409091.jpg?param=40y40"
                                alt="云音乐热歌榜">
                        </div>
                        <p class="name">
                            <a href="void:0" class="s-fc0">云音乐热歌榜</a>
                        </p>
                        <p class="s-fc4"></p>
                    </div>
                </li>
            </ul>
        </div>
    </div>


    <div class="rightCon">
        <div class="g-mn3c">
            <div class="g-wrap">


                <div class="m-info m-info-rank f-cb newList">
                    <div class="cover u-cover u-cover-rank">
                        <img src="http://p2.music.126.net/N2HO5xfYEqyQ8q6oxCw8IQ==/18713687906568048.jpg?param=150y150">
                    </div>
                    <div class="cnt">
                        <div class="cntc m-info">
                            <div class="hd f-cb">
                                <h2 class="f-ff2">云音乐新歌榜</h2>
                            </div>
                            <div class="user f-cb">
                                <i class="u-icn u-icn-57"></i>
                                <span class="sep s-fc3">最近更新：01月28日</span>
                                <span class="s-fc4"></span>
                            </div>
                            <div class="btns f-cb">
                                <a href="void:0" class="u-btn2 u-btn2-2 u-btni-addply f-fl" hidefocus="true" title="播放">
                                    <i><em class="ply"></em>播放</i>
                                </a>
                                <a href="void:0" class="u-btni u-btni-add" hidefocus="true" title="添加到播放列表"></a>
                                <a class="u-btni u-btni-dl" href="void:0"><i>下载</i></a>
                                <a href="javascript:;" class="u-btni u-btni-cmmt j-cmt">
                                    <i>(<span id="comment-count">64</span>)</i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="m-info m-info-rank f-cb2 hotList">
                    <div class="cover u-cover u-cover-rank">
                        <img src="http://p2.music.126.net/GhhuF6Ep5Tq9IEvLsyCN7w==/18708190348409091.jpg?param=150y150">
                    </div>
                    <div class="cnt">
                        <div class="cntc m-info">
                            <div class="hd f-cb">
                                <h2 class="f-ff2">云音乐热歌榜</h2>
                            </div>
                            <div class="user f-cb">
                                <!-- <i class="u-icn u-icn-57"></i> -->
                                <!-- <span class="sep s-fc3">最近更新：01月28日</span> -->
                                <span class="s-fc4"></span>
                            </div>
                            <div class="btns f-cb">
                                <a href="void:0" class="u-btn2 u-btn2-2 u-btni-addply f-fl" hidefocus="true" title="播放">
                                    <i><em class="ply"></em>播放</i>
                                </a>
                                <a href="void:0" class="u-btni u-btni-add" hidefocus="true" title="添加到播放列表"></a>
                                <a class="u-btni u-btni-dl" href="void:0"><i>下载</i></a>
                                <a href="javascript:;" class="u-btni u-btni-cmmt j-cmt">
                                    <i>(<span id="comment-count">64</span>)</i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>




            </div>

            <div class="g-wrap12">
                <div class="u-title u-title-1 f-cb">
                    <h3>
                        <span class="f-ff2">歌曲列表</span>
                    </h3>
                    <span class="sub s-fc3"><span>100</span>首歌</span>
                </div>


                <div id="song-list-pre-cache">
                    <div id="auto-id-CKN9OJ9l9RiNWBS3">
                        <div class="j-flag">
                            <table class="m-table m-table-rank">
                                <thead>
                                    <tr>
                                        <th class="first w1"></th>
                                        <th>
                                            <div class="wp">标题</div>
                                        </th>
                                        <th class="w2-1">
                                            <div class="wp">时长</div>
                                        </th>
                                        <th class="w3">
                                            <div class="wp">歌手</div>
                                        </th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <!-- <tr class="even">
                                        <td>
                                            <div class="hd">
                                                <span class="num">4</span>
                                            </div>
                                        </td>
                                        <td class="">
                                            <div class="f-cb">
                                                <div class="tt">
                                                    <span class="ply ">&nbsp;</span>
                                                    <div class="ttc">
                                                        <span class="txt">
                                                            <a href="/song?id=1313558186">
                                                                <b title="一曲相思&nbsp;">一曲相思&nbsp;
                                                                </b>
                                                            </a>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class=" s-fc3">
                                            <span class="u-dur ">02:47</span>
                                            <div class="opt hshow">
                                                <a class="u-icn u-icn-81 icn-add" href="javascript:;" title="添加到播放列表"
                                                    hidefocus="true">
                                                </a>
                                                <span class="icn icn-fav" title="收藏"></span>
                                                <span class="icn icn-dl" title="下载"></span>
                                            </div>
                                        </td>
                                        <td class="">
                                            <div class="text" title="半阳">
                                                <span title="半阳">
                                                    <a class="" href="/artist?id=30405247" hidefocus="true">半阳</a>
                                                </span></div>
                                        </td>
                                    </tr> -->
                                    <!-- <tr class="even">
                                        <td>
                                            <div class="hd">
                                                <span class="num">4</span>
                                            </div>
                                        </td>
                                        <td class="">
                                            <div class="f-cb">
                                                <div class="tt">
                                                    <span class="ply ">&nbsp;</span>
                                                    <div class="ttc">
                                                        <span class="txt">
                                                            <a href="/song?id=1313558186">
                                                                <b title="一曲相思&nbsp;">一曲相思&nbsp;
                                                                </b>
                                                            </a>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class=" s-fc3">
                                            <span class="u-dur ">02:47</span>
                                            <div class="opt hshow">
                                                <a class="u-icn u-icn-81 icn-add" href="javascript:;" title="添加到播放列表"
                                                    hidefocus="true">
                                                </a>
                                                <span class="icn icn-fav" title="收藏"></span>
                                                <span class="icn icn-dl" title="下载"></span>
                                            </div>
                                        </td>
                                        <td class="">
                                            <div class="text" title="半阳">
                                                <span title="半阳">
                                                    <a class="" href="/artist?id=30405247" hidefocus="true">半阳</a>
                                                </span></div>
                                        </td>
                                    </tr> -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="../public/js/rankList/rankList.js"></script>