<div class="g-search">
    <div class=" n-srch">
        <div class="pgsrch f-pr j-suggest">
            <input type="text" class="srch j-flag">
            <a href="javascript:void(0)" class="btn j-flag">123</a>
        </div>

        <div id="m-search">
            <div class="snote s-fc4 ztag">搜索“<span></span>”，找到<em class="s-fc6"></em>首单曲
            </div>


            <ul class="m-tabs m-tabs-srch f-cb ztag">
                <li class="fst">
                    <a href="javascript:void(0)" class="z-slt"><em>单曲</em></a>
                </li>
                <li><a hidefocus="true" href="javascript:void(0)"><em>歌手</em></a></li>
                <li><a hidefocus="true" href="javascript:void(0)"><em>专辑</em></a></li>
                <li><a hidefocus="true" href="javascript:void(0)"><em>歌单</em></a></li>
            </ul>

            <div class="ztag j-flag">
                <div class="n-srchrst">
                    <div class="srchsongst">
                        <!-- 单曲 -->
                        <!-- <div class="item f-cb h-flag">
                            <div class="td">
                                <div class="hd">
                                    <a id="song_30431367" class="ply " title="播放"></a>
                                </div>
                            </div>

                            <div class="td w0">
                                <div class="sn">
                                    <div class="text">
                                        <a href="/song?id=30431367"><b title="走马">走马</b></a>
                                    </div>
                                </div>
                            </div>

                            <div class="td">
                                <div class="opt hshow">
                                    <a class="u-icn u-icn-81 icn-add" href="javascript:;" title="添加到播放列表" hidefocus="true"></a>
                                    <span class="icn icn-fav" title="收藏"></span>
                                    <span class="icn icn-share" title="分享"></span>
                                    <span class="icn icn-dl" title="下载"></span>
                                </div>
                            </div>

                            <div class="td w1">
                                <div class="text">
                                    <a href="/artist?id=1007170">
                                        <span class="s-fc7">陈粒</span>
                                    </a>
                                </div>
                            </div>

                            <div class="td w2">
                                <div class="text">
                                    <a class="s-fc3" href="/album?id=3098832" title="《如也》">《如也》</a>
                                </div>
                            </div>

                            <div class="td">03:55</div>
                        </div> -->

                        <!-- 歌手 -->
                        <!-- <ul class="m-cvrlst m-cvrlst-5 f-cb">
                            <li>
                                <div class="u-cover u-cover-5">
                                    <a href="/artist?id=2116">
                                        <img src="https://p1.music.126.net/_d1scu7z_1dmd0Zgv9mTLA==/19165587183900212.jpg?param=130y130">
                                        <span title="陈奕迅" class="msk"></span>
                                    </a>
                                </div>
                                <p><a class="nm f-thide s-fc0" href="/artist?id=2116" title="陈奕迅">陈奕迅</a></p>
                            </li>
                            <li>
                                <div class="u-cover u-cover-5">
                                    <a href="/artist?id=2116">
                                        <img src="https://p1.music.126.net/_d1scu7z_1dmd0Zgv9mTLA==/19165587183900212.jpg?param=130y130">
                                        <span title="陈奕迅" class="msk"></span>
                                    </a>
                                </div>
                                <p><a class="nm f-thide s-fc0" href="/artist?id=2116" title="陈奕迅">陈奕迅</a></p>

                            </li>
                        </ul> -->


                        <!-- 专辑 -->
                        <!-- <ul class="m-cvrlst m-cvrlst-alb3 f-cb">
                            <li>
                                <div class="u-cover u-cover-alb2">
                                    <a href="/album?id=73327621">
                                        <img src="https://p2.music.126.net/mbQ_rbmhQcpPFR8rUXxlWA==/109951163549581981.jpg?param=180y180">
                                        <span title="2018与荒野音乐会LIVE专辑" class="msk"></span>
                                    </a>
                                </div>
                                <p class="dec"><a href="/album?id=73327621" class="tit f-thide s-fc0" title="2018与荒野音乐会LIVE专辑">2018与荒野音乐会LIVE专辑</a></p>
                                <p>
                                    <span class="nm f-thide" title="陈鸿宇">
                                        <a href="/artist?id=1058228" class="s-fc3">陈鸿宇</a>
                                    </span>
                                </p>
                            </li>

                            <li>
                                    <div class="u-cover u-cover-alb2">
                                        <a href="/album?id=73327621">
                                            <img src="https://p2.music.126.net/mbQ_rbmhQcpPFR8rUXxlWA==/109951163549581981.jpg?param=180y180">
                                            <span title="2018与荒野音乐会LIVE专辑" class="msk"></span>
                                        </a>
                                    </div>
                                    <p class="dec"><a href="/album?id=73327621" class="tit f-thide s-fc0" title="2018与荒野音乐会LIVE专辑">2018与荒野音乐会LIVE专辑</a></p>
                                    <p>
                                        <span class="nm f-thide" title="陈鸿宇">
                                            <a href="/artist?id=1058228" class="s-fc3">陈鸿宇</a>
                                        </span>
                                    </p>
                                </li>
                        </ul> -->
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="../../../public/js/myMusic/search.js"></script>