<link rel="stylesheet" href="../../../public/css/singer/singer.css">
<!-- 歌手图片、作品等信息 -->
<div class="singer-wrapper">
    <ul class="singer-info">
        <!-- <li>
            <div class="box">
                <div class="show">
                    <img src="../../../public/images/singer/薛之谦.jpg" alt="">
                </div>
                <div class="hide">hide</div>
            </div>
            <a href="void:0" class="singerName">薛之谦</a>
        </li> -->
    </ul>
</div>

<div class="singer-content">
    <div class="singerInfo">
        <h2 class="artist-name" title="">陈粒</h2>
        <img src="http://p4.music.126.net/3WhzK6ozFXUsNutDU566ZA==/6641050233030995.jpg?param=640y300" alt="">
    </div>
    <ul class="singer_tabs" id="singer_tabs">
        <li class="tab"><a href="javascript:void(0)" class="majorWorks">热门作品</a></li>
        <li class="tab"><a href="javascript:void(0)" class="album">所有专辑</a></li>
        <li class="tab"><a href="javascript:void(0)" class="artistIntroduce">艺人介绍</a></li>
    </ul>
    <div class="singerContent">
        <!-- 热门作品 -->
        <div class="artist-top">
            <div class="a-info">
                <a href="void:0" class="song-play" hidefocus="true" title="播放">
                    播放
                </a>
                <a href="void:0" class="song-add" hidefocus="true" title="添加到播放列表"> + </a>
            </div>
            <div class="a-top">
                <table class="m-table m-table-1 m-table-4">
                    <tbody>
                        <!-- <tr id="" class="even ">
                            <td class="w1">
                                <div class="hd">
                                    <span class="ply" title="播放">&nbsp;</span>
                                    <span class="num">1</span>
                                </div>
                            </td>
                            <td class="">
                                <div class="f-cb">
                                    <div class="tt">
                                        <div class="ttc">
                                            <span class="txt">
                                                <a href="/song?id=421423806">
                                                    <b title="小半">小半</b>
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="w2-1 s-fc3">
                                <span class="u-dur ">04:57</span>
                                <div class="opt hshow">
                                    <a class="u-icn u-icn-81 icn-add" href="javascript:;" title="添加到播放列表" hidefocus="true"></a>
                                    <span class="icn icn-fav" title="收藏"></span>
                                    <span class="icn icn-dl" title="下载"></span>
                                </div>
                            </td>
                            <td class="w4">
                                <div class="text">
                                    <a href="/album?id=34780579" title="小梦大半">
                                        小梦大半
                                    </a>
                                </div>
                            </td>
                        </tr> -->
                    </tbody>
                </table>
            </div>
        </div>

        <!-- 所有专辑 -->
        <div class="allAlbum">
            <ul class="m-cvrlst m-cvrlst-5 f-cb">
                <!-- <li>
                    <div class="u-cover u-cover-5">
                        <a href="/artist?id=2116">
                            <img src="https://p1.music.126.net/_d1scu7z_1dmd0Zgv9mTLA==/19165587183900212.jpg?param=130y130">
                            <span title="陈奕迅" class="msk"></span>
                        </a>
                    </div>
                    <p><a class="nm f-thide s-fc0" href="/artist?id=2116" title="陈奕迅">陈奕迅</a></p>
                </li> -->
            </ul>
        </div>
        <!-- 艺人介绍 -->
        <div class="artist-intro">
            <h2>
                <i>&nbsp;</i>
                <span>陈粒简介</span>
            </h2>
            <p>艺人介绍</p>
        </div>
    </div>
</div>


<script src="../../../public/js/singer/singer.js"></script>