<link rel="stylesheet" href="../public/css/rankList/rankList.css">
<div class="g-bd4 f-cb song">
    <div class="g-mn4c">
        <div class="g-wrap6">
            <div class="m-lycifo">
                <!-- <img src="../../../public/images/singer/" alt=""> -->
                <!-- <div class="f-cb">
                    <div class="cvrwrap f-cb f-pr">
                        <div class="u-cover u-cover-6 f-fl">
                            <img src="http://p2.music.126.net/-qHPT3rhxDlu5zQV9NcQ-A==/109951163555860423.jpg?param=130y130"
                                class="j-img">
                            <span class="msk f-alpha"></span>
                        </div>

                    </div>
                    <div class="cnt">
                        <div class="hd">
                            <i class="lab u-icn u-icn-37"></i>
                            <div class="tit">
                                <em class="f-ff2">盗将行</em>
                            </div>
                        </div>
                        <p class="des s-fc4">歌手：
                            <span title="花粥 / 马雨阳">
                                <a class="s-fc7" href="void:0">花粥</a> /
                                <a class="s-fc7" href="void:0">马雨阳</a>
                            </span>
                        </p>
                        <p class="des s-fc4">所属专辑：
                            <a href="void:0" class="s-fc7">粥请客（二）</a>
                        </p>
                        <div class="m-info">
                            <div class="btns f-cb">
                                <a href="void:0" class="u-btn2 u-btn2-2 u-btni-addply f-fl" hidefocus="true" title="播放">
                                    <i><em class="ply"></em>播放</i>
                                </a>
                                <a href="void:0" class="u-btni u-btni-add" hidefocus="true" title="添加到播放列表"></a>
                                <a class="u-btni u-btni-dl" href="void:0"><i>下载</i></a>
                                <a href="javascript:;" class="u-btni u-btni-cmmt j-cmt">
                                    <i>(<span id="comment-count">评论</span>)</i>
                                </a>
                            </div>
                        </div>

                        <div class="bd bd-open f-brk f-ib">
                            作曲 : 花粥
                            <br>
                            作词 : 姬霄
                            <br>
                            编曲/混音：马雨阳
                            <br>
                            劫过九重城关

                            <div class="f-hide">
                                拎着钓叟的鱼弦
                                <br>
                                问卧龙几两钱
                            </div>

                            <div class="crl">
                                <a id="flag_ctrl" href="void:0" class="s-fc7">展开
                                    <i class="u-icn u-icn-69"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>

            <div class="n-cmt" id="comment-box">
                <div class="auto-cmt">
                    <div class="u-title u-title-1">
                        <h3><span class="f-ff2">评论</span></h3>
                        <span class="sub s-fc3">共<span class="j-flag">0</span>条评论</span>
                    </div>

                    <div class="m-cmmt">
                        <!-- 这是留言部分 -->
                        <div class="iptarea">
                            <div class="head">
                                <img src="http://p4.music.126.net/RLeBJe4D1ZzUtltxfoKDMg==/109951163250239066.jpg?param=50y50">
                            </div>

                            <div class="j-flag">
                                <div>
                                    <div class="m-cmmtipt f-cb f-pr">
                                        <div class="u-txtwrap holder-parent f-pr">
                                            <textarea class="u-txt area j-flag" id="area" data-type="0" placeholder="评论(限140字)" maxlength="140"></textarea>
                                        </div>

                                        <div class="btns f-cb f-pr">
                                            <a href="javascript:void(0)" class="btn u-btn u-btn-1 j-flag commentBtn">评论</a>
                                            <span class="zs s-fc4 j-flag">140</span>
                                        </div>

                                        <div class="corr u-arr">
                                            <em class="arrline">◆</em>
                                            <span class="arrclr">◆</span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- 这是评论部分 -->
                        <div class="cmmts j-flag" style="padding-bottom:50px;">
                            <h3 class="u-hd4">最新评论</h3>
                            <!-- <div class="itm" date-id="">
                                <div class="head">
                                    <a href="void:0">
                                        <img src="https://p1.music.126.net/skUmmOKyl3cUjTZUSsRb3w==/109951163822059353.jpg?param=50y50">
                                    </a>
                                </div>

                                <div class="cntwrap">
                                    <div>
                                        <div class="cnt f-brk">
                                            <a href="void:0" class="s-fc7">江南瑞雪</a>：归根结底就是不那么坚定，
                                        </div>

                                        <div class="que f-brk f-pr s-fc3">
                                            <span class="darr">
                                                <i class="bd">◆</i>
                                                <i class="bg">◆</i>
                                            </span>
                                            <a class="s-fc7" href="void:0">江南瑞雪</a>：前路望去，尽皆迷雾。云未开，心未明。
                                        </div>

                                        <div class="rp">
                                            <div class="time s-fc4">2019/3/3</div>
                                            <span class="dlt">
                                                <a href="javascript:void(0)" class="s-fc3" data-id="1408986259" data-type="delete">删除</a>
                                                <span class="seep">|</span>
                                            </span>
                                            <a href="javascript:void(0)" class="s-fc3" data-id="1408361783" data-type="reply">回复</a>
                                        </div>
                                    </div>
                                </div>
                            </div> -->




                            <!-- <div>
                                <div>
                                    <div class="rept m-quk m-quk-1 f-pr">
                                        <div class="iner">
                                            <div class="corr u-arr u-arr-1">
                                                <em class="arrline">◆</em>
                                                <span class="arrclr">◆</span>
                                            </div>

                                            <div class="m-cmmtipt m-cmmtipt-1 f-cb f-pr">
                                                    <div class="u-txtwrap holder-parent f-pr j-wrap">
                                                        <textarea class="u-txt area j-flag" placeholder="" style="overflow-x: hidden; overflow-y: scroll;"></textarea>
                                                    </div>
            
                                                    <div class="btns f-cb f-pr">
                                                            <a href="javascript:void(0)" class="btn u-btn u-btn-1 j-flag" >回复</a>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="../../../public/js/index/song.js"></script>